.center {
    position: relative;
    top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    height:120px;
    width:120px;
    object-fit: cover;
  }


  #employee {
    border-collapse: collapse;
    width: 100%;
  }
  
  #employee td{
    border: 1px solid #ddd;
    padding: 18px;
  }
  
  #employee tr:nth-child(even){background-color: #f2f2f2;}
  
  #employee tr:hover {background-color: #ddd;}
  